.left-align-text {
  text-align: left;
}
.collapsible {
  background-color: #272323;
  border: 0px solid var(--color-primary) !important;
}
.collapsible-body {
  border-bottom: none;
  background: #0c0c0c;
}
.collapsible-header {
  background-color: var(--color-secondary);
  transition: all 150ms ease-in-out;
  border-top: 4px solid rgb(17, 17, 17) !important;
  border-bottom: 0px solid rgb(17, 17, 17) !important;
}
.collapsible-header:hover {
  background-color: rgba(2, 119, 189, 0.15);
  transition: all 150ms ease-in-out;
}
td a {
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}
.container .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0;
}
#description {
  margin-bottom: 0px !important;
}
#downloadButton:hover {
  transform: translate(0.75rem, 0.75rem);
}
#downloadButton {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  transition: transform 150ms ease-in-out !important;
  justify-content: center;
  margin-bottom: 1rem;
}
.card-link {
  background-color: #f5d311 !important;
  border-radius: 0;
  padding: 0;
  margin-bottom: 5%;
  box-shadow: none;
}
.profile-img {
  margin-bottom: 2rem;
}
.theme-color{
  background-color: #161718;
} 


.frame-august{
  width: 100%;
}

.grid{
  max-width: 80vw !important;
  height: inherit; 
  width: 70em; 
  display: block; 
  margin: auto;
}
.grid-mobile{
  max-width: 80vw !important;
  height: fit-content; 
  width: 70em; 
  display: block; 
  margin: auto;
}
.mat-grid-tile{
    overflow: visible !important;
}
.img-shadow{
  border-radius: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
