
<div class="centered">
        
        <div *ngIf="!isMobile">
            <mat-list style="    position: fixed;
            width: 8rem;
            right: 0;
            top: 30%;"
            [@inOutAnimation]
             class="" role="list">

                <mat-list-item class="center-dot" (click)="scroll(top)" role="listitem" style="height: 7rem;">
                    <img style="max-width: 120%; height: auto; transform: rotate(180deg);" src="assets/portfolioAugust/arrowdown2.png" />
                </mat-list-item>
                <mat-list-item class="center-dot" (click)="scroll(unwatchd)" role="listitem" style="height: 7rem;">
                    <img style="max-width: 120%; height: auto;" src="assets/portfolioAugust/unwatchd/logoRED.png" class="img-shadow rounded" />
                </mat-list-item>
                <mat-list-item class="center-dot" (click)="scroll(skillmill)" role="listitem" style="height: 7rem;">
                    <img style="max-width: 120%; height: auto;" src="assets/portfolioAugust/skillmill/SkillMill_logo.png" class="img-shadow rounded" />
                </mat-list-item>
                <mat-list-item class="center-dot" (click)="scroll(thissite)" role="listitem" style="height: 7rem;">
                    <img style="max-width: 120%; height: auto;" src="favicon.ico" class="img-shadow rounded" />
                </mat-list-item>
            </mat-list>
        </div>
        
    <div class="wrapper">
    <!---------------------------------------------------------------------
            AUGUST
    ---------------------------------------------------------------------->
        <div class="centered frame single frame-august">
            
            <div #top class="notransition col s12 animated bounceInLeft" style="text-align: center;">
                <h1 class="yellow-theme-text text-darken-3"><b>{{firstName}} Bredberg</b></h1>
                <h5 class="white-text text-darken-3">Software engineer and full-stack developer </h5>
            </div>
            <a
                style="max-width: 80%; max-height: 20%; height: 5%;"
                class="card animated zoomIn faster col s10 offset-s1 m5 l5"
                [routerLink]="['/about', firstName]"
                routerLinkActive="active"
                >
                <div class="card-content secondary-color lighten-5 yellow-theme-text text-darken-3" style="height: 5%;">
                    <span class="card-title">
                        <div class="card-title-content" style="height: 5%;">
                            <h5 class="project-title">About me</h5>
                        </div>
                    </span>
                </div>
            </a>
            <button id="toPortfolioButton" class="toPortfolioButton animated zoomIn faster" (click)="scroll(unwatchd)">
            <div id="toPortfolioArrow" class="col" style="bottom: 5rem;">
                <div class="row toPortfolio">
                    <h5 class="white-text text-darken-3">To my portfolio</h5>
                </div>
                <div class="row downarrow visible centered" >
                    <img class="downarrow" src="assets/portfolioAugust/arrowdown2.gif"  />
                </div>
            </div>
        </button>
        </div>


    <!---------------------------------------------------------------------
            UNWATCHD
    ---------------------------------------------------------------------->
        
   
        <div class="centered frame single padding-top-frame" >
            <div  class="notransition col s12 animated bounceInLeft" style="text-align: center;">
                <h1 class="yellow-theme-text text-darken-3"><b>unWatchd</b></h1>
            </div>
            <mat-grid-list  cols="{{columnNumHeader}}" [class.grid-unwatchd-mobile]="isMobile" [class.grid-unwatchd]="!isMobile" >
                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    <div #unwatchd class="centered visible" >
                        <img style="max-width: 70%; height: auto;" src="assets/portfolioAugust/unwatchd/logoRED.png" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    <div class="centered visible textfield" style="flex-direction: column;">
                        <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">A project with friends. My main responsibility during the project was to seamlessly integrate our server and the IMDB API with the mobile application, aswell as front-end design.</h5>
                        <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">Share your movie experiences and see what your friends are watching. Rate movies and search for highly rated movies, both IMDB-ratings and UnWatchd-ratings.
                            The social media for sharing your movie experiences and keeping track of watched and un-watched films</h5>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list class="grid-unwatchd" cols="{{columnNum}}" rowHeight="{{gridlist_desired_rowHeight}}"    >
                

                <mat-grid-tile  [colspan]="2" [rowspan]="1">
                    <div class="popup_element visible">
                        <img style="max-width: 90%; height: auto;" src="assets/portfolioAugust/unwatchd/neverLetAMovieGoUnwatchd.png" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile  [colspan]="1" [rowspan]="2">
                    <div class="popup_element visible">
                        <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/unwatchd/notificationFeed.jpg" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >
                    <div class="popup_element visible">
                        <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/unwatchd/profileView.jpg" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile  [colspan]="1" [rowspan]="1  ">
                    <div class="centered visible textfield" style="flex-direction: column;">
                        <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                            Keep track of what friends and family is watching by following their accounts
                        </h5>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >
                    <div class="popup_element visible">
                        <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/unwatchd/searchView.jpg" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile  [colspan]="1" [rowspan]="1  ">
                    <div class="centered visible textfield" style="flex-direction: column;">
                        <h5 class=" white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                            Discuss your experiences in the comment section in real time 
                        </h5>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >
                    <div class="popup_element visible">
                        <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/unwatchd/unwatchd_comment.png" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >
                    <div class="popup_element visible">
                        <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/unwatchd/feedView.jpg" class="img-shadow" />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" >
                    <a
                        style="max-width: 80%;"
                        class="card animated zoomIn faster col s10 offset-s1 m5 l5"
                        href="https://github.com/AugustBredberg/unWatchd"
                        target="_blank"
                        >
                        <div
                        class="card-content secondary-color lighten-5 yellow-theme-text text-darken-3"
                        >
                        <span class="card-title">
                            <div class="card-title-content">
                            <h5 class="project-title">unWatchd</h5>
                            <span
                                class="
                                new
                                badge
                                secondary-color
                                darken-3
                                white-text
                                hide-on-med-and-down
                                "
                                ><i class="fa fa-terminal" aria-hidden="true"></i
                                >Flutter</span
                            >
                            </div>
                        </span>
                        <p class="project-description white-text flow-text">The code behind unWatched. This link leads to Github.com</p>
                        </div>
                    </a>
                </mat-grid-tile>
              </mat-grid-list>
        </div>


    <!---------------------------------------------------------------------
            SKILL MILL
    ---------------------------------------------------------------------->
    <div class="centered frame single padding-top-frame" >

        <div class="notransition col s12 animated bounceInLeft" style="text-align: center;">
            <h1 class="yellow-theme-text text-darken-3"><b>SkillMill</b></h1>
        </div>
        <mat-grid-list  cols="{{columnNumHeader}}" [class.grid-unwatchd-mobile]="isMobile" [class.grid-unwatchd]="!isMobile" rowHeight="">
            <mat-grid-tile  [colspan]="1" [rowspan]="1  ">
                <div #skillmill class="centered visible textfield" style="flex-direction: column;">
                    <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                        The SkillMill project is an initiative co-funded by the Erasmus+ programme of the European Union. 
                        The primary goal is to provide students who study abroad a way to keep track of the 
                        existence and development of their professional competencies. These competencies include skills like 
                        interacting with colleagues, how you solve problems, and how you plan your work. 
                    </h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <div class="centered visible" >
                    <img style="max-width: 70%; height: auto;" src="assets/portfolioAugust/skillmill/SkillMill_logo.png" class="img-shadow" />
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [class.grid-skillmill-mobile]="isMobile" [class.grid-skillmill]="!isMobile" cols="{{columnNum}}">
            

            <mat-grid-tile  [colspan]="1" [rowspan]="2">
                <div class="popup_element visible">
                    <img style="max-width: 90%; height: auto;" src="assets/portfolioAugust/skillmill/skillmill_login.png" class="img-shadow" />
                </div>
            </mat-grid-tile>
            <mat-grid-tile *ngIf=isMobile [colspan]="1" [rowspan]="2" >
                <div class="popup_element visible">
                    <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/skillmill/skillmill_emojis.png" class="img-shadow" />
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <div class="centered visible textfield" style="flex-direction: column;">
                    <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                        These competencies are highly sought after by employers, and according to some employers, 
                        many candidates lack the necessary professional competencies they need to be effective in the working environment.
                    </h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="2">
                <div class="popup_element visible">
                    <img [ngStyle]="{'max-width': isMobile === true ? '90%' : '120%' ,
                        'width': isMobile === true ? '16rem' : '20rem'
                    }"
                    style="height: auto;" src="assets/portfolioAugust/skillmill/skillmill.gif" class="img-shadow" />
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2" >
                <div class="popup_element visible">
                    <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/skillmill/skillmill_success.png" class="img-shadow" />
                </div>
            </mat-grid-tile>
            <mat-grid-tile *ngIf=!isMobile [colspan]="1" [rowspan]="2" >
                <div class="popup_element visible">
                    <img style="max-width: 80%; height: auto;" src="assets/portfolioAugust/skillmill/skillmill_emojis.png" class="img-shadow" />
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <div class="centered visible textfield" style="flex-direction: column;">
                    <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                        Me and my team provided the SkillMill project with a mobile application in which the target group, students, can keep a 
                        journal about transformative experiences. The created mobile application serves as a foundation for the 
                        SkillMill project to build upon further to allow users to identify, understand and verbalize their professional competencies
                    </h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <a
                    style="max-width: 80%;"
                    class="card animated zoomIn faster col s10 offset-s1 m5 l5"
                    href="https://github.com/AugustBredberg/SkillMill-Bachelor-project"
                    target="_blank"
                    >
                    <div
                    class="card-content secondary-color lighten-5 yellow-theme-text text-darken-3"
                    >
                    <span class="card-title">
                        <div class="card-title-content">
                        <h5 class="project-title">SkillMill</h5>
                        <span
                            class="
                            new
                            badge
                            secondary-color
                            darken-3
                            white-text
                            hide-on-med-and-down
                            "
                            ><i class="fa fa-terminal" aria-hidden="true"></i
                            >Flutter</span
                        >
                        </div>
                    </span>
                    <p class="project-description white-text flow-text">The code behind SkillMill. This link leads to Github.com</p>
                    </div>
                </a>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

    <!---------------------------------------------------------------------
            THIS SITE 
    ---------------------------------------------------------------------->
    
    <div class="centered frame single padding-top-frame" >

        <div class="notransition col s12 animated bounceInLeft" style="text-align: center;">
            <h1 class="yellow-theme-text text-darken-3"><b>This site</b></h1>
        </div>
        <mat-grid-list  cols="2" style="width: 80%;" rowHeight="16vh">
            <mat-grid-tile  [colspan]="2" [rowspan]="1  ">
                <div #thissite class="centered visible textfield" style="flex-direction: column;">
                    <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                        I have also made this website! It is written in angular 13. This website was a project I started
                        with the purpose of teaching myself angular for work. 
                    </h5>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <a
                    style="max-width: 80%;"
                    class="card animated zoomIn faster col s10 offset-s1 m5 l5"
                    href="https://github.com/AugustBredberg/AugustBredberg.github.io"
                    target="_blank"
                    >
                    <div
                    class="card-content secondary-color lighten-5 yellow-theme-text text-darken-3"
                    >
                    <span class="card-title">
                        <div class="card-title-content">
                        <h5 class="project-title">This website!</h5>
                        <span
                            class="
                            new
                            badge
                            secondary-color
                            darken-3
                            white-text
                            hide-on-med-and-down
                            "
                            ><i class="fa fa-terminal" aria-hidden="true"></i
                            >Angular</span
                        >
                        </div>
                    </span>
                    <p class="project-description white-text flow-text">The code behind this website! This link leads to Github.com</p>
                    </div>
                </a>
            </mat-grid-tile>

            
          </mat-grid-list>
        </div>

        <!---------------------------------------------------------------------
            THANK YOU FOR VISITING
        ---------------------------------------------------------------------->
    
        <div class="centered frame single padding-top-frame" style="padding-bottom:15rem"> 
            <div class="notransition col s12 animated bounceInLeft" style="text-align: center;">
                <h1 class="yellow-theme-text text-darken-3"><b>Thank you for visiting!</b></h1>
            </div>
            <mat-grid-list  cols="2" style="width: 80%;" rowHeight="16vh">
                <mat-grid-tile  [colspan]="2" [rowspan]="1  ">
                    <div #thissite class="centered visible textfield" style="flex-direction: column;">
                        <h5 class="white-text text-darken-3" [ngStyle]="{'font-size': isMobile === true ? '1.1em' : '1.64em' }">
                            If you would like to get in contact with me, click the button below! 
                        </h5>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" >  
                    <a
                        style="max-width: 80%; max-height: 20%; height: 5%;"
                        class="card animated zoomIn faster col s10 offset-s1 m5 l5"
                        [routerLink]="['/contact', firstName]"
                        routerLinkActive="active"
                        >
                        <div class="card-content secondary-color lighten-5 yellow-theme-text text-darken-3" style="height: 5%;">
                            <span class="card-title">
                                <div class="card-title-content" style="height: 5%;">
                                    <h5 class="project-title">Contact</h5>
                                </div>
                            </span>
                        </div>
                    </a>
                </mat-grid-tile>
                
              </mat-grid-list>

        </div>


    </div> <!--WRAPPER-->
</div><!--CENTERED-->



