
.centered {
    display: flex;
    justify-content: center;
  }

.wrapper {
    max-width: 100em;
    flex: 1;
}
.header{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.img-shadow{
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.frame {
    flex: 2;
    min-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.frame.single {
    flex: 1 1 100%;
    display: flex;
}
.toPortfolioButton{
  background: none;
  border: none;
}

.popup_element.visible {
    opacity: 1;
    transform: translateY(0);
}
.popup_element img, .popup_element video {
    transition: 1s;
}
.popup_element {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.8s;
    transition-timing-function: ease-out;
    justify-content: center;
    display: flex;
}
.popup_element:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 10;
}
.padding-top-frame{
  padding-top: 20rem;
}
.full_row {
    flex: 1 1 100% !important;
}
.double_overlap {
    position: relative;
    max-width: 70em;
}

.img-unwatchd-logo{
    max-width: 40vw;
    height: auto;
}

.frame-august{
  width: 100%;
  height: 90vh;
  justify-content: space-between;
}

.grid-unwatchd{
  max-width: 80vw !important;
  height: inherit; 
  width: 70em; 
  display: block; 
  padding-bottom: 50vh !important;
}
.grid-unwatchd-mobile{
  max-width: 80vw !important;
  height: fit-content; 
  width: 70em; 
  display: block; 
  padding-bottom: 150% !important;
}
.mat-grid-tile{
    overflow: visible !important;
}
.card-link {
    background-color: #f5d311 !important;
    border-radius: 0;
    padding: 0;
    margin-bottom: 5%;
    box-shadow: none;
  }

.downarrow{
  margin: 0 auto;
  width: 30%;
  max-width:30%;
}
.toPortfolio{
  margin: 0 auto;
  width: 40%;
  max-width: 40%;
  text-align: center;
}



.dotnav{
  position: fixed;
  right: 1rem;
  padding-right: 1rem;
  top: 40%;
  bottom: 60%;
  z-index: 10;
  flex-direction: column;
}

.bullet-point{
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: 0.2s;
  transition-timing-function: ease-out;
  
}
.center-dot{
  justify-content: center;
  padding: 1rem !important;
}
.bullet-point-selected{
  background-color: var(--color-primary);
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  transition: 0.4s;
  transition-timing-function: ease-out;
  text-align: center;
}
@media (min-width: 2rem) {
  .bullet-point:hover {
    transform: translateY(0.5rem);
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 10;
  }
}












  .project-title {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    place-content: space-between;
    margin: 0;
  }
  .project-description {
    font-size: 1rem;
    font-style: italic;
  }
  @media (min-width: 1024px) {
    .card-content:hover {
      transform: translate(0.75rem, 0.75rem);
    }
  }
  .card-content {
    transition: all 150ms ease-in-out !important;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card {
    background-color: var(--color-primary) !important;
    border-radius: 0; 
    padding: 0;
  }
  

  .card-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .badge {
    display: flex;
    align-items: center;
    min-width: auto;
  }
  .badge i {
    margin-right: 0.25rem;
  }
  span.badge.new {
    border-radius: 20px;
    padding: 0 0.5rem;
    background-color: blue;
  }
  .tabs li a {
    font-weight: bold;
    transition: 150ms all ease-in-out;
    color: var(--color-primary) !important;
    background-color: var(--color-secondary) !important;
  }
  span.badge.new {
    text-transform: lowercase;
  }
  .tab a {
    cursor: pointer;
  }
  .card-panel {
    background-color: var(--color-secondary);
  }
  .card-panel .not-found-title {
    text-align: center;
    font-style: italic;
    color: var(--color-primary);
  }
  
  .secondary-color{
    background-color: var(--color-secondary);
  }

  .textfield{
    text-align: center;
  }

  .notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }




