

<div class="centered">

    <!---------------------------------------------------------------------
            UNWATCHD
    ---------------------------------------------------------------------->
    <div class="portfolioItem">
        <div class="LHside-text">
            test
            <mat-card class="mat-elevation-z8" >
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="RHside-images">
            <mat-grid-list  cols="4" >
                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >
                    <img mat-card-image
                        src="assets/portfolioAugust/movieView.jpg"
                        alt="david gimeno profile"
                        class="responsive-img unwatchd-imgs"
                    />
                </mat-grid-tile>
                <mat-grid-tile >
                    <img mat-card-image
                        src="assets/portfolioAugust/movieView.jpg"
                        alt="david gimeno profile"
                        class="responsive-img unwatchd-imgs"
                    />
                </mat-grid-tile>
                <mat-grid-tile >
                    <img mat-card-image
                        src="assets/portfolioAugust/movieView.jpg"
                        alt="david gimeno profile"
                        class="responsive-img"
                    />
                </mat-grid-tile>
              </mat-grid-list>
              
        </div> 
    </div>

</div>