<div *ngIf="route !== '/'" class="navbar-fixed">
  <nav class="z-depth-0 white animated slideInDown delay-1s">
    <div id="navbar" class="nav-wrapper">
      <a routerLink="/" class="sidenav-trigger button-collapse right hide-on-large-only">
        <i class="material-icons yellow-theme-text text-darken-3">home</i>
      </a>
      <a routerLink="/" class="home-btn sidenav-trigger left hide-on-med-and-down">
        <i class="material-icons yellow-theme-text text-darken-3">home</i>
      </a>
      <a
        materialize="sideNav"
        [materializeParams]="[{ edge: 'left', closeOnClick: true }]"
        class="sidenav-trigger button-collapse left hide-on-large-only"
        href="#"
        data-activates="mobile-version"
        data-target="nav-mobile"
      >
        <i class="material-icons yellow-theme-text text-darken-3">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li [ngClass]="route.includes('about') ? 'active' : ' '">
          <a class="yellow-theme-text text-darken-3" [routerLink]="['/about', currentPerson]"
            >/About</a
          >
        </li>
        <li *ngIf="currentPerson === 'August'" [ngClass]="route.includes('portfolio') ? 'active' : ' '">
          <a class="yellow-theme-text text-darken-3" [routerLink]="['/portfolio', currentPerson]"
            >/Portfolio</a
          >
        </li>
        <li [ngClass]="route.includes('projects') ? 'active' : ' '">
          <a class="yellow-theme-text text-darken-3" [routerLink]="['/projects', currentPerson]"
            >/Projects</a
          >
        </li>
        <li [ngClass]="route.includes('contact') ? 'active' : ' '">
          <a class="yellow-theme-text text-darken-3" [routerLink]="['/contact', currentPerson]"
            >/Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<ul class="side-nav yellow-theme-text" id="mobile-version">
  <li class="sidenav-close yellow-theme-text" [ngClass]="route.includes('about') ? 'active ' : ' '">
    <a
      href="#!"
      class="yellow-theme-text text-darken-3 waves-effect sidenav-close"
      [routerLink]="['/about', currentPerson]"
      >/About</a
    >
  </li>
  <li *ngIf="currentPerson === 'August'" class="sidenav-close yellow-theme-text" [ngClass]="route.includes('portfolio') ? 'active' : ' '">
    <a
      href="#!"
      class="yellow-theme-text text-darken-3 waves-effect sidenav-close"
      [routerLink]="['/portfolio', currentPerson]"
      >/Portfolio</a
    >
  </li>
  <li class="sidenav-close yellow-theme-text" [ngClass]="route.includes('projects') ? 'active' : ' '">
    <a
      href="#!"
      class="yellow-theme-text text-darken-3 waves-effect sidenav-close"
      [routerLink]="['/projects', currentPerson]"
      >/Projects</a
    >
  </li>
  <li class="sidenav-close yellow-theme-text" [ngClass]="route.includes('contact') ? 'active' : ' '">
    <a
      href="#!"
      class="yellow-theme-text text-darken-3 waves-effect sidenav-close"
      [routerLink]="['/contact', currentPerson]"
      >/Contact
    </a>
  </li>
</ul>

