<div class="centered animated fadeIn slow">
  <!--<img class="background_left" src="assets/background_left_dark2.jpg" />
  <img class="background_right" src="assets/background_right_dark2.jpg" />
  -->  
  <div class="title_div">
    <p class="title text-darken-3">
        Bredberg
    </p>
    <p class="title_sub">
      A website created and maintained by August Bredberg 
    </p>
  </div>
    <div class="link-container ">
      <div [ngClass]="isMobile ? 'row_mobile' : 'row'">
      <!-- WILLIAM -->
      <div
        class=" col
          text-darken-3
          flow-text
          animated
          pulse
          delay-2s
          fast
        "
      >
      <span *ngIf="isMobile">
        <div class="mobileMargin">
          <h5>William Bredberg</h5>
        </div>
      </span>
          <ul class="thumbnail-list">
            <li>
              
              <a [routerLink]="['about', 'William']" class="image-w">
                <img z-depth-5
                  alt="thumbnail"
                  height="350vh"
                  width="350vh"
                  src="assets/william_bredberg_profile.jfif"
                  alt="William Bredberg profile"
                  class="circle responsive-img profile-img" 
                  data-mdb-ripple-color="light"
                  style="background-color: white"
                  onclick=""
                />
                <div class="cover circle">
                  <h2>William</h2>
                  <p> Environmental and Water Engineer </p>
                </div>
              </a>
            </li>
          </ul>
        
      </div>


      <!-- AUGUST -->
      <div
        class="col
          text-darken-3
          flow-text
          animated
          pulse
          delay-2s
          fast
        "
      >
      <span *ngIf="isMobile"><br><h5>August Bredberg</h5></span>
          <ul class="thumbnail-list">
            <li>
              
              <a [routerLink]="['portfolio', 'August']" class="image-w">  
                <img 
                  alt="thumbnail"
                  height="350vh"
                  width="350vh"
                  src="assets/august_bredberg_profile3.jpg"
                  alt="William Bredberg profile"
                  class="circle responsive-img profile-img" 
                  data-mdb-ripple-color="light"
                  style="background-color: white"
                  onclick=""
                />
                <div class="cover circle">
                  <h2 >August</h2>
                  <p> Computer and Information Technology Engineer </p>
                </div>
              </a>
            </li>
          </ul>
        </div>



      <!-- ZACHARIAS -->
      <div
        class="col
          text-darken-3
          flow-text
          animated
          pulse
          delay-2s
          fast
        "
      >
        <span *ngIf="isMobile"><br><h5>Zacharias Bredberg</h5></span>
          <ul class="thumbnail-list">
            <li>
              
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="image-w">  
                <img 
                  alt="thumbnail"
                  height="350vh"
                  width="350vh"
                  src="assets/zacharias_bredberg_profile.jpg"
                  alt="William Bredberg profile"
                  class="circle responsive-img profile-img" 
                  data-mdb-ripple-color="light"
                  style="background-color: white"
                  onclick=""
                />
                <div class="cover circle">
                  <h2 >Zacharias</h2>
                  <p> Entrepreneur and Investor </p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div [ngClass]="isMobile ? 'row_mobile' : 'row'">
      <!-- Alyson -->
      <div
        class="col
          text-darken-3
          flow-text
          animated
          pulse
          delay-2s
          fast
        "
      >
      <span *ngIf="isMobile"><br><h5>Alyson Bredberg</h5></span>
          <ul class="thumbnail-list">
            <li>
              
              <a [routerLink]="['about', 'Alyson']" class="image-w">  
                <img 
                  alt="thumbnail"
                  height="350vh"
                  width="350vh"
                  src="assets/alyson_bredberg_profile2.jpg"
                  alt="William Bredberg profile"
                  class="circle responsive-img profile-img" 
                  data-mdb-ripple-color="light"
                  style="background-color: white"
                  onclick=""
                />
                <div class="cover circle center">
                  <h2 >Alyson</h2>
                  <p> Bachelor of Science Program, Chemistry </p>
                </div>
              </a>
            </li>
          </ul>
      </div>


       <!-- Nathanael -->
       <div
       class="col
         text-darken-3
         flow-text
         animated
         pulse
         delay-2s
         fast
       "
     >
     <span *ngIf="isMobile"><br><h5>Nathanael Bredberg</h5></span>
         <ul class="thumbnail-list">
           <li>
             
             <a href="https://nathanaelbredberg.com/" class="image-w">
               <img 
                 alt="thumbnail"
                 height="350vh"
                 width="350vh"
                 src="assets/nathanael_bredberg_profile.png"
                 alt="William Bredberg profile"
                 class="circle responsive-img profile-img" 
                 data-mdb-ripple-color="light"
                 style="background-color: white"
                 onclick=""
               />
               <div class="cover circle">
                 <h2>Nathanael</h2>
                 <p> Artist, Photo manipulator and Illustrator  </p>
               </div>
             </a>
           </li>
         </ul>
     </div>

     </div>

     
  </div>
</div>
